@font-face {
    src: url("../fonts/LillyBelle.ttf") format("truetype");
}

@font-face {
    src: url("../fonts/MinionPro-Regular.otf") format("opentype");
}

@font-face {
    src: url("../fonts/MinionPro-Bold.otf") format("opentype");
}