@import "fonts.css";

/* SCENE BACKGROUND AND FOREGROUND */
.layout {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.layout.launcher-narrow {
    -fx-background-image: url("../img/layout/launcher.png");
}
.layout.player-red {
    -fx-background-color: linear-gradient(from 0% 100% to 20% 0%, #d76351 15%, transparent 40%);
}
.layout.player-green {
    -fx-background-color: linear-gradient(from 0% 100% to 20% 0%, #209f49 15%, transparent 40%);
}
.layout.player-blue {
    -fx-background-color: linear-gradient(from 0% 100% to 20% 0%, #396aa0 15%, transparent 40%);
}
.layout.player-winner {
    -fx-background-color: linear-gradient(from 0% 100% to 20% 0%, #ffd00e 15%, transparent 40%);
}
.layout.player-loser {
    -fx-background-color: linear-gradient(from 0% 100% to 20% 0%, #767676 15%, transparent 40%);
}

.players-list-background {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    /*-fx-background-image: url("");*/
    -fx-translate-x: 320px;
}

/* ANIMATIONS */
.hover-effect-out:hover {
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.hover-effect-in:hover {
    -fx-cursor: hand;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* TEXT */
.text.lillybelle {
    -fx-font-family: "LillyBelle";
}
.text.minion-pro {
    -fx-font-family: "Minion Pro";
}

.text.bold {
    -fx-font-weight: bold;
}

.text.white {
    -fx-fill: #ffffff;
}
.text.red {
    -fx-fill: #ff0000;
}
.text.black {
    -fx-fill: #000000;
}
.text.brown {
    -fx-fill: #685541;
}

.text.tiny {
    -fx-font-size: 16px;
}
.text.small {
    -fx-font-size: 20px;
}
.text.medium {
    -fx-font-size: 22px;
}
.text.big {
    -fx-font-size: 24px;
}
.text.enormous {
    -fx-font-size: 32px;
}
.text.insane {
    -fx-font-size: 45px;
}

.text.shadow {
    -fx-effect: dropshadow(three-pass-box, #000000 , 0, 0, 0, 3.0);
}
.text.tiny.shadow {
    -fx-effect: dropshadow(three-pass-box, #000000 , 0, 0, 0, 2.0);
}

/* DESIGN BLOCKS */
.text-field.blue-border {
    -fx-font-family: "LillyBelle";
    -fx-text-box-border: #1d6fa7;
    -fx-control-inner-background: #fdfdfd;
    -fx-focus-color: #1d6fa7;
    -fx-background-radius: 15px, 12px;
    -fx-background-insets: 0, 3px;
    -fx-prompt-text-fill: #1d6fa7;
    -fx-text-fill: #333333;
    -fx-font-size: 18px;
    -fx-padding: 7px 10px;
    -fx-text-alignment: center;
}

.text-button {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-height: 50px;
    -fx-padding: 0 0 12px 0;
    -fx-cursor: hand;
}
.text-button:hover {
    -fx-padding: 0 0 9px 0;
}
.text-button .text {
    -fx-end-margin: 12px;
}
.text-button.green {
    -fx-background-image: url("../img/buttons/btn_green.png");
}
.text-button.green:hover {
    -fx-background-image: url("../img/buttons/btn_green_pressed.png");
}
.text-button.blue {
    -fx-background-image: url("../img/buttons/btn_blue.png");
}
.text-button.blue:hover {
    -fx-background-image: url("../img/buttons/btn_blue_pressed.png");
}

.status-button {
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-height: 93px;
    -fx-max-height: 93px;
}

.confirm-button {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-pref-height: 104px;
    -fx-max-height: 104px;
}

/* ENTITIES */
.entity {
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
.entity.number {
    -fx-opacity: 0;
}
.entity.number:hover {
    -fx-opacity: 1;
}

/*.entity.number.light-1 {
    -fx-background-image: url("");
}
.entity.number.light-2 {
    -fx-background-image: url("");
}
.entity.number.light-3 {
    -fx-background-image: url("");
}
.entity.number.dark-1 {
    -fx-background-image: url("");
}
.entity.number.dark-2 {
    -fx-background-image: url("");
}
.entity.number.dark-3 {
    -fx-background-image: url("");
}
.entity.highlight {
    -fx-background-image: url("");
    -fx-opacity: .75;
}*/
.cell:hover .entity.highlight {
    -fx-opacity: 1;
}