.play:hover
{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button
{
    -fx-background-color: #2F4F4F;
    -fx-border-color: #DAA520;
    -fx-border-width: 4;
    -fx-text-fill: #DAA520;
    -fx-font-family: "BlackChancery";
}

.size40
{
    -fx-font-size: 40;
}

.size35
{
    -fx-font-size: 35;
}

.size30
{
    -fx-font-size: 30;
}

.size25
{
    -fx-font-size: 25;
}

.size22
{
    -fx-font-size: 22;
}

.size20
{
    -fx-font-size: 20;
}

.button:hover
{
    -fx-scale-x: 1.025;
    -fx-scale-y: 1.025;
    -fx-cursor: HAND;
}

.production:hover
{
    -fx-opacity: 0.7;
}

.label
{
    -fx-font-family: "BlackChancery";
}

.text-field
{
    -fx-font-family: "BlackChancery";
    -fx-font-size: 21;
}

.text-area
{
    -fx-font-family: "Charpentier Renaissance Reduced Normal";
    -fx-font-size: 20;
}

.devCard_market:hover
{
    -fx-scale-x: 1.025;
    -fx-scale-y: 1.025;
}
